<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Roboto:ital,wght@0,400;1,700&family=Source+Code+Pro:ital,wght@0,200;1,300&display=swap" rel="stylesheet"> 
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">


<!-- Page content-->
<div class="container-fluid">
  <h1 class="mt-4">Bienvenidos a <strong>travelHub</strong></h1>
  <p>
    El mejor sitio de viajes primera clase en la red. 
    Selecciona el destino del que te quieres enamorar.
    <br> 
    Podrás escoger entre varias posibilidades.
  </p>

  <!-- grupo de cards -->


  <div class="card-group">

<!-- primera card -->
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1518638150340-f706e86654de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&h=880&q=80" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cancún- Quintana Roo</h5>
        <p class="card-text">
          Visita las mejores playas del caribe mexicano, disfruta de las  imponentes pirámides mayas. 
          <br>
          Precios desde $450 USD
        </p>
        <a href="#" class="btn btn-primary">Más información</a>
      </div>
  
    </div>


    <!-- segunda card -->
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1533019194-2347d675b591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Acapulco-Guerrero</h5>
        <p class="card-text">
         Conoce el famoso puerto de Acapulco, icónico destino del estado de Guerrero.
         <br>
         Precios a partir de 250 USD 
        </p>
        <a href="#" class="btn btn-primary">Mas información</a>
      </div>
  
    </div>


    <!-- tercera card -->

    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1520821529311-e9f2edff4b51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Puerto Vallarta- Jalisco</h5>
        <p class="card-text">
         Conoce todos los atractivos de este bello litoral del mar pacífico mexicano.
         <br>
         Precios desde $200 USD
        </p>
        <a href="#" class="btn btn-primary">Más información</a>
      </div>
    </div>
    
    </div>
  </div>


  <!-- <div *ngIf= "condition">
    <h3> Algo pasa si la condición del ngIf es true</h3>
</div> -->


<!-- ng clas pa cambiar color de la fuente -->
<!-- aquí conectamo con la lógica del componente a partir de esus Directivas -->

<!-- <p [ngClass]="condition?'clase1':'clase2'">Esto será rojo y azul si condition es true</p> -->

<h3>Destinos próximos a abrirse:</h3>
<ul [ngClass]="hayLista ? 'clase1' : 'clase2'">
  <li *ngFor="let destino of otrosDestinos">
    <!-- aqui usamos -->
      {{destino | uppercase}} <br>
  </li>
  Precios a partir de {{ price | currency: "MXN":"symbol"}} ! 🤸‍♀️
</ul>
<h4>Diponibles a partir de: 
  <br>
    <!-- aqui utilizamos una pipe.  -->
    <!-- fecha corresponde al valor de la variable en ts; lo demás es pipe -->
     {{fecha | date: 'MMM d, y'}}
</h4>
